.textInput{
    padding: 15px;
    margin: 10px 0px; 
    border-radius: 11px;
    border:  1px solid black;
    width: 300px;
    font-size: 20px;
}

.labelsContainer{
    font-size: x-large;
}

.inputsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

