.popupContainer {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
  display:flex ;
  justify-content: center;
  align-items: center;
}

.popupWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    /* Other styles... */
  }
  
  .popupHeader {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px; /* Add padding if needed */
  }
  
  .exitBtn {
    /* Style your button as needed */
    cursor: pointer;
    border: none;
    background: none;
    /* Other styles... */
  }
  
  .popupContent {
    /* Styles for the content */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    width: fit-content;
    padding: 25px;
    border-radius: 25px;
    /* Other styles... */
  }

  .btnContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid black; */
    /* column-gap: 10px; */
  }
  .popupBtn{
    border-radius: 10px;
    padding: 5px;
  }
  