.clockContainer {
    display: flex;
    position: absolute;
    right: 15px;
    top: 10px;
    border: 2px solid  rgba(0, 0, 0, 0.751);
    border-radius: 18px;
    background-color: #b4eefb;
    padding: 10px;
} 

.clockText{
    font-size:x-large;
    color: rgba(0, 0, 0, 0.751);
}
