* {
  margin: 0;
  /* padding: 5px 2px 20px 2px; */
  box-sizing: border-box;
}

.surveyFormMainDiv {
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* align content to the center */
  min-height: 100vh; /* minimum height of the viewport */
  overflow: auto;
  font-size: 1em;
  margin-bottom: 25px;
  /* border: 5px solid black; */
}

.surveyHeaderDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 60px;
  margin-bottom: 10px;
  color: #0500ff;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 3%;
}

.questionContainer{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-bottom: 50px;  
  width: 80%;
  padding: 0px;
}

.surveyForm{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
  font-size: larger;
  margin-bottom: 25px;

  /* border: 5px solid black; */
}

.checkboxContainer {
  display: flex;
  align-items: center;
}


.radioContainer {
  display: flex;
  align-items: center;
 
}

.selectionObject{
  margin-right: 5px;
}

.selectContainer {
  margin: 10px 0px;
}

.error {
  border: 2px solid red;
}


.sendBtn {
  width: 80px;
  height: 43px;
  font-size: large;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #34fff3;
  margin-top: 25px;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center; 
  align-content: center;
}

.questionHeader{
  font-size: x-large;
  margin-bottom: 10px;
}


