.userEntitys {
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: center;
  font-size: larger;
  margin-top: 25px;
  margin-bottom: 60px;
}

.entity {
  margin-right: 15px;
  font-size: larger;
  font-weight: 400;
  border: 0.5px solid black;
  background-color: #9dedff;
  display: flex;
  width:fit-content;
  height: fit-content;
  padding: 5px 10px 7px 10px;
  border-radius: 30px;

}

.entity:hover {
  cursor: pointer;
  color: red;
  text-decoration: underline;
}

.contestMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* align content to the center */
  min-height: 100vh; /* minimum height of the viewport */
  overflow: auto;
}

.headerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 60px;
  /* margin-bottom: 10px; */
  color: #0500ff;
  font-weight: bold;
  font-style: italic;
  /* margin-bottom: 3%; */
}

.contentDiv {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.entitySubmitDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  font-size: x-large;
}

.prizeBtn {
  width: 300px;
  /* height:100px; */
  /* background-color: #00ff10; */
  font-size: xx-large;
  border-radius: 11px;
  color: black;
  /* border: 2px solid black; */
  margin-bottom: 55px;
  text-align: center;
  background-color: #9dffbf98;
  border-radius: 30px;
  border: 0.5px solid black;
  padding: 3px 10px 6px 10px; /*Up Right Down Left*/
  
}

.prizeBtn > img {
  vertical-align: middle;
}



.contestDescriptionDiv {
  width: 60%;
  font-size: xx-large;  
  display: flex; 
  flex-direction: column;
  text-align: left;
  align-items: center;


}

.formContainer label{
  font-size: xx-large;
}


.formContainer label,
.formContainer input {
  margin-right: 30px;
}

.entityInput {
  width: 300px;
  height: 40px;
  font-size: 22px;
  padding-left: 10px;
}

.entityInputBtn {
  width: 120px;
  height: 50px;
  font-size: larger;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #34fff3;
  align-self: center; /* Ensures the button centers itself vertically */
  margin-bottom: 0;

}

.goBackBtn {
  width: 100px;
  height: 43px;
  font-size: larger;
  border-radius: 10px;
  /* background-color: #34fff3; */
}

.suggestedEntities {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  font-size: larger;
  margin-left: 20%;
}

.suggestedEntities > div:first-child {
  flex-basis: 100%;
  text-align: center;
  font-size: xxx-large;
  margin-bottom: 20px;
}


.Sugentity {
  flex: 1 1 40%; /* Each item will take up 50% of the row, resulting in two items per row */
  text-align: center;
  padding: 5px;
  font-size: larger;
  background-color: #9dedff32;
  border-radius: 30px;
  margin: 5px;
  border: 0.5px solid black;
}
