.formMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* align content to the center */
  min-height: 100vh; /* minimum height of the viewport */
  overflow: auto;
}

.FormHeaderDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 60px;
  margin-bottom: 10px;
  color: #0500ff;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 3%;
}

.PleaseContainer{
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: 25px;
}

.selectContainer {
  margin: 10px 0px;
}
.selectInput {
  padding: 15px;
  height: 52px;
  margin-left: 0;
  border-radius: 11px;
  border: 1px solid black;
  width: 290px;
  font-size: 20px;
}

.selectInput:hover {
  cursor: pointer;
}

.error {
  border: 2px solid red;
}

.submitBtn {
  background-color: #34fff3;
  margin-top: 40px;
}

.submitBtn:hover{
  background-color: #2de4d8;

}

.FormContainer {
  width: 15%;
  display: flex;
  flex-direction: column;
}

.FormContainer button {
  align-self: center;
}
