.readyToWinMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* align content to the center */
  min-height: 100vh; /* minimum height of the viewport */
  overflow: auto;
  font-size: 1em;
}

.RTWheaderDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 60px;
  margin-bottom: 10px;
  color: #0500ff;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 3%;
}

.RTWcontentDiv{
  width: 70%;
  margin-bottom: 2%;
  font-size: larger;
  }

  .RTWcontentDiv p {
    font-size: larger;
    margin-bottom: 2%;
  }
  .RTWcontentDiv h2 {
    margin-bottom: 1%;
  }
  .RTWcontentDiv ul {
    margin-bottom: 3%;
  }
  .RTWcontentDiv ul li {
    margin-bottom: 1%; /* Adjust the margin as needed */
  }
  
  .inTxtImg{
    width: 30px;
    
  }

  
