.ContestBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: x-large;
}

.ContestBar:hover {
  background-color: #9dedff32;
  border-radius: 18px;
}

.ContestBar:hover .detailItem img {
  transform: scale(1.2); /* Enlarge image on hover */
}
.ContestBar:hover .detailItem {
  font-size: xx-large;
}

.btnDiv {
  width: 43%;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.detailsDiv {
  width: 65%;
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}

.contestBtn {
  width: 500px;
  height: 70px;
  font-size: x-large;
  border-radius: 18px;
  background-color: #9dedff;
  margin-bottom: 0;
}

.contestBtn:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  border: 3px black solid;
  background-color: #9dedff;
}


.detailItem {
  width: 70%;
  text-align: center;
  font-size: larger;
}

.contestsMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* align content to the center */
  min-height: 100vh; /* minimum height of the viewport */
  overflow: auto;
  font-size: 1em;
}

.CPageheaderDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 60px;
  color: #0500ff;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1%;
}

.CPageSubheaderDiv{
  font-size: 30px;
  font-style: italic;
  margin-bottom: 10px;
}

.contestsContentDiv {
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
  /* display: flex;
  flex-direction: column; */

  /* border: 2px solid black; */
}

.tableContainer {
  width: 80%;
  margin-top: 20px;
}

.tableHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: xx-large;
  padding: 10px 0;
}

.headerItem:first-child {
  flex: 0 0 50%;
}

.headerItem:not(:first-child) {
  flex: 0 0 25%;
}

.headerItem {
  flex: 1;
  text-align: center;
  font-weight: bold;
}
