.WelcomMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* align content to the center */
  min-height: 100vh; /* minimum height of the viewport */
  overflow: auto;
}


.WelcomheaderDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 60px;
  margin-bottom: 10px;
  color: #0500ff;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 3%;
}

.WcontentDiv {
  width: 65%;
  margin-bottom: 2%;
  font-size: larger;
}

.WcontentDiv p {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 2%;
}

.WcontentDiv ol li {
  margin-bottom: 2%; /* Adjust the margin as needed */
}

.WcontentDiv label {
  font-size: larger;
  margin-bottom: 2%;
}


.confirmationDiv {
  padding: 0 1em; 
}

.confirmCheckbox{
  transform: scale(1.5);
  margin: 10px;
}





