.App {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  width: 100%;
  min-width: 506px;
}

button {
  min-width: 150px;
  height: 60px;
  font-size: x-large;
  border-radius: 25px;
  padding: 5px 7px 5px 7px;
  background-color: lightgrey;
  border: 1px solid black;
  margin-bottom: 40px;
}

button:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  background-color: rgba(189, 189, 189, 0.841);
  border: 1px solid black;
}

button.disabled {
  cursor: not-allowed; /* Indicate that the button is not clickable */
  box-shadow: none; /* No shadow for disabled button */
  background-color: lightgrey;
  border: 1px solid rgba(189, 189, 189, 0.841);

}

button.enabled:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  background-color: rgba(189, 189, 189, 0.841);
  border: 1px solid black;
}
