* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.thankYouMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* align content to the center */
  min-height: 100vh; /* minimum height of the viewport */
  overflow: auto;
  font-size: 1em;
}

.TYheaderDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2em;
  margin-bottom: 1em;
  color: #0500ff;
  font-weight: bold;
  font-style: italic;
}

.TYcontentDiv {
  width: 50%;
  min-width: 400px;
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

